#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.duck-ad {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 400px;
  width: 200px;
}

.content-container {
  margin-left: 220px;
}

.duck-ad {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 425px;
  width: 220px;
}

.duck-ad img {
  max-width: 80%;
}

.duck-ad h2 {
  margin-top: 10px;
}

.duck-ad p {
  margin: 10px 0;
}

.duck-ad button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}
